body  {

}

header  {
  text-align: center;
  position: sticky;
  top: 0;
}

nav {
  position: sticky;
}

section {
  text-align: justify;
  width: 33.33%;
  position: relative;
  top: ;
  bottom: ;
  left: 33.33%;
  right: 33.33%
}

footer  {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
}

ul  {
  list-style-type: none;
}
