body  {

}

header  {
  position: relative;
  top: 1em;
  text-align: center;
}

nav {
  position: relative;
  top: 1em;
}

section {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 25%;
  right: 25%;
  text-align: justify;

}

footer  {
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center;
}

ul  {
  list-style-type: none;
}
